@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controllers and Actions</title>
</head>

<body>
   <form method="post" asp-action="ReceiveForm">

       <div class="form-group>">
           <label for="Name">Name:</label>
           <input class="form-control" name="name" />
       </div>

        <div class="form-group">
           <label for="City">City:</label>
           <input class="form-control" name="city" />
       </div>

       <button type="submit">Submit</button>

   </form>
</body>
</html>
