@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("Product List", "ProductList", "Home")
    @Html.ActionLink("Product Table", "ProductTable", "Home")
   
    </div>
