<header id="header" class="page-header">
    <div class="title">
        <h1>Professional cars for racers</h1>
    </div>
    <div class="slogan">We love cars</div>
</header>

<nav class="menu" id="main-menu">
    <button class="menu-toggle" id="toggle-menu" (click)="toggleMenu($event)">switch menu</button>
    <div class="menu-dropdown">
        <ul class="nav-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Cars</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</nav>

<aside class="hero">
    You are welcome to our cars site
</aside>

<main id="main">
    <div class="row">
        <section class="column">
            <h2 class="subtitle">
                Sports Car
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iusto tenetur molestias saepe
                aperiam reprehenderit blanditiis autem? Necessitatibus nemo velit, est amet doloremque officia iusto
                dignissimos consectetur tempore quia libero odio quos nam eos deserunt voluptatibus dolorem magnam
                accusamus <a href="">aliquid dolorum</a> dicta quaerat! Temporibus adipisci fugit ullam iste non
                aspernatur.</p>

            <h2 class="subtitle">
                Hyper Car
            </h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iusto tenetur molestias saepe
                aperiam reprehenderit blanditiis autem? Necessitatibus nemo velit, est amet doloremque officia iusto
                dignissimos consectetur tempore quia libero odio quos nam eos deserunt voluptatibus dolorem magnam
                accusamus <a href="">uos nam eos deserunt</a> dicta quaerat! Temporibus adipisci fugit ullam iste non
                aspernatur.</p>

            <h2 class="subtitle">
                Super Car
            </h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iusto tenetur molestias saepe
                aperiam reprehenderit blanditiis autem? Necessitatibus nemo velit, est amet doloremque officia iusto
                dignissimos consectetur tempore quia libero odio quos nam eos deserunt voluptatibus dolorem magnam
                accusamus <a href="">dicta quaerat</a> dicta quaerat! Temporibus adipisci fugit ullam iste non
                aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ex?</p>

        </section>
    </div>
</main>