@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("ParametersLink", "GetResult", "Home", new { id = "Hello-World"}, null)
    @Html.ActionLink("NoParametersLink", "GetResult", "Home")
</div>
