<div>
    <div>
        <h1>Hello Angular</h1>
        <button (click)="onClick()">Click me!</button>
        <input type="text" (keyup.enter)="onInput($event)" (blur)="onBlur(myInput.value)" #myInput><br />
        <input type="text" [value]="title" (input)="onTitleInput($event)"><br />
        <input type="text" [(ngModel)]="inputUser">
        <p><strong>{{inputValue}}</strong></p>
        <p><strong>{{title}}</strong></p>
        <p><strong>{{inputUser}}</strong></p>
        <app-post></app-post>
        <app-post></app-post>
    </div>
    <div [ngStyle]="{
        height: '200px',
        width: '200px',
        borderRadius: '5px',
        border: '1px solid #ccc',
        background: backgroundToggle ? 'red' : 'blue'
    }">
    <button type="button" (click)="backgroundToggle = !backgroundToggle">Backgroung Toggle</button>

    <p [ngClass]="{
        red: !backgroundToggle,
        blue: backgroundToggle
    }">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    <p
    [class.red] = "!backgroundToggle"
    [class.blue] = "backgroundToggle"
    >
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
</div>