<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">Home</button>
    </div>
    <div class="info">
        <strong>Author</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde praesentium delectus voluptatum accusamus commodi autem, eos omnis recusandae nemo necessitatibus vel earum pariatur sint impedit nam aut beatae, ipsum perferendis? Est alias, reprehenderit eum eius dolorem nobis eos a ab dolore nihil tempora iusto, laboriosam quidem, consectetur corporis fugit quia!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde praesentium delectus voluptatum accusamus commodi autem, eos omnis recusandae nemo necessitatibus vel earum pariatur sint impedit nam aut beatae, ipsum perferendis? Est alias, reprehenderit eum eius dolorem nobis eos a ab dolore nihil tempora iusto, laboriosam quidem, consectetur corporis fugit quia!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde praesentium delectus voluptatum accusamus commodi autem, eos omnis recusandae nemo necessitatibus vel earum pariatur sint impedit nam aut beatae, ipsum perferendis? Est alias, reprehenderit eum eius dolorem nobis eos a ab dolore nihil tempora iusto, laboriosam quidem, consectetur corporis fugit quia!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde praesentium delectus voluptatum accusamus commodi autem, eos omnis recusandae nemo necessitatibus vel earum pariatur sint impedit nam aut beatae, ipsum perferendis? Est alias, reprehenderit eum eius dolorem nobis eos a ab dolore nihil tempora iusto, laboriosam quidem, consectetur corporis fugit quia!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde praesentium delectus voluptatum accusamus commodi autem, eos omnis recusandae nemo necessitatibus vel earum pariatur sint impedit nam aut beatae, ipsum perferendis? Est alias, reprehenderit eum eius dolorem nobis eos a ab dolore nihil tempora iusto, laboriosam quidem, consectetur corporis fugit quia!
        </p>
    </div>
</div>